/static/js/bootstrap.bundle.js linquist-vendored=true
/static/js/bootstrap.bundle.min.js linquist-vendored=true
/static/js/jquery.min.js linquist-vendored=true
/static/css/bootstrap.css linquist-vendored=true
/static/css/bootstrap.min.css linquist-vendored=true
